.custom-dropdown .ant-dropdown-menu {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  transition: transform 0 ease-in-out;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.custom-dropdown .ant-dropdown-menu-item {
  background-color: #f0f0f0;
  font-size: 16px;
}

.custom-dropdown .ant-dropdown-menu-item:hover {
  background-color: #e6f7ff;
}
