@import "tailwindcss";

body {
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 1024px) {
  .max-w-1024-hidden {
    display: none;
  }
}
@media (max-width: 1024px) {
  .search-events {
    top: 0 !important;
    right: 0 !important;
    width: 100%;
    height: 100% !important;
  }
  .search-events .ant-dropdown-menu-vertical {
    overflow-y: scroll;
    max-height: 100vh !important;
    height: 100vh;
    width: 100%;
    position: fixed;
  }
}
.search-events .ant-dropdown-menu-vertical {
  overflow-y: scroll;
  max-height: 70vh;
}
@media (max-width: 1024px) {
  .max-w-1024-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
  }
}
@media (max-width: 415px) {
  .max-w-440-shrink {
    flex-shrink: 0;
    width: auto;
  }
}
@media (max-width: 1024px) {
  .max-w-1024-left-header {
    justify-content: left;
    gap: 1rem;
  }
}
@media (max-width: 1024px) {
  .max-w-1024-right-header {
    display: flex;
    justify-content: right;
    gap: 1rem;
  }
}

@media (max-width: 1024px) {
  .max-w-1024-padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (max-width: 1024px) {
  .max-w-1024-h {
    height: 36px;
    width: 36px;
  }
}
@media (max-width: 380px) {
  .mobile-menu-p-sizedown {
    font-size: 11px;
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  }
}
@media (max-width: 380px) {
  .small-menu-p {
    font-size: 10px;
  }
}

.max-w-1024-show {
  display: none;
  @media (max-width: 1024px) {
    display: block;
  }
}

.page-container {
  padding-left: clamp(0px, 0rem, 80px);
  transition: padding 0.3s ease-in-out;
}
